# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
.venv/

# Scratch & Temporary Logs
report_text_dump.txt
*.log
*.tmp
~*

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
build/
*.bin
*.hex
*.elf
